body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #080808;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid #000;
    margin-top: 130px;
    margin-bottom:35px ;
}

.contact-form {
    flex: 1;
    margin-right: 20px;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form label {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #050505;
    border-radius: 4px;
}

.contact-form textarea {
    height: 100px;
}

.send-button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #353637; 
}

/* Map Container */
.map-container {
    margin: 10px;
}